/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville&display=swap');

html {
    background-image: url("/images/journey.jpg");
    font-family: 'Courgette', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.95em;
    line-height: 1.5em;
    color: aliceblue;
}

::selection {
    color: #180b03; 
    /*background:#b7b7a4;*/
}

h1 {
    color: aliceblue;
    font-weight: normal;
    margin: auto;
    /*background: #a5a58d;*/
    line-height: 2.5em;
}

main.wrapper {
    overflow: auto;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    color: aliceblue;
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color: #f2e9e4;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: #4d2a1a;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}